{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block stylesheets %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .d-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            width: 100%;
        }

        .mb {
            margin-bottom: 1rem;
        }

        .place-center {
            display: grid;
            place-items: center;
        }

        .team {
            padding-left: 40px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 1.5rem;
            border-radius: .5rem;
            padding: 1rem;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        tr {
            border-bottom: 1px solid #000000
        }
    </style>
{% endblock %}

{% block body %}

    <main class="example-wrapper">
        {% for match in matches %}
            <div class="card place-center">
                <h1>{{ match.teams[0].name }} vs {{ match.teams[1].name }}</h1>
                <table>
                    <tr>
                        <td>Date</td>
                        <td><time>{{ match.date }}</time></td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>
                            <time>{{ match.time }}</time>
                        </td>
                    </tr>
                    <tr>
                        <td>Mode</td>
                        <td>{{ match.mode }}</td>
                    </tr>
                    <tr>
                        <td>Map</td>
                        <td>{{ match.map }}</td>
                    </tr>
                </table>
                <a href="{{ match.link }}">Video Link</a>
                <div class="d-grid place-center">
                    {% for team in match.teams %}
                        <div>
                            <h2>{{ team.name }}</h2>
                            <table>
                                <tr class="mb">
                                    <th>Name</th>
                                    <th>Herkunft</th>
                                </tr>
                                {% for member in team.members %}
                                    <tr class="mb">
                                        <td>{{ member.name }}</td>
                                        <td>{{ member.origin }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </main>
{% endblock %}

{% block script %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Event",
            "name": "CS:GO Spring Sweet Spring",
            "organizer": {
                "name": "Relog Media",
                "url": "https://www.relog.rs/",
                "type": "website"
            },
            "description": "Counter-Strike: Global Offensive ist ein Computerspiel aus dem Genre der Online-Taktik-Shooter. Es wurde von Valve und Hidden Path Entertainment entwickelt und ist der vierte Teil der Counter-Strike-Reihe. Das Spiel wurde am 21. August 2012 für Windows, Linux, macOS, Xbox 360 und PlayStation 3 veröffentlicht.",
            "image": "https://www.google.com/url?sa=i&url=https%3A%2F%2Fliquipedia.net%2Fcounterstrike%2FEden_Esports%2FChampions_Cup%2FEurope&psig=AOvVaw0Rpm9ZxP9CIEasx9SIgFZW&ust=1618932681603000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJDJnqzQivACFQAAAAAdAAAAABAE",
            "startDate": "2021-04-21T09:30+01:00",
            "endDate": "2021-04-21T16:00+01:00",
            "eventStatus": "https://schema.org/EventScheduled",
            "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
            "location": {
                "@type": "VirtualLocation",
                "url": "https://www.hltv.org/live?matchId=2347974"
            },
            "performer": {
                "@type": "PerformingGroup",
                "name": "Lilmix vs Sengal"
            },
            "offers": {
                "@type": "Offer",
                "name": "Standart",
                "price": "0",
                "priceCurrency": "EUR",
                "validFrom": "2021-04-19",
                "url": "https://www.hltv.org/live?matchId=2347974",
                "availability": "https://schema.org/InStock"
            }
        }
    </script>
{% endblock %}